$control-color: gray;

#controls {
	background: white;
	padding: 1em;
	border: 1px solid black;
}

#vinyl-holder {
	// border: 1px solid black;
	// background-image: url("http://api.thumbr.it/whitenoise-800x800.png?");
	// background=995c4cff&noise=574157&density=100&opacity=100
}

#center-hole {
	left: 340px;
	top: 300px;
	position: absolute;
}

#label {
	position: absolute;
	left: 260px;
	top: 225px;
	-webkit-filter: brightness(.9);
}

.halfandhalf {
	left: 116px;
	top: 225px;
	position: absolute;
	filter: url(#blur);
}

.colorincolor {
	position: absolute;
	left: -25px;
	top: -225px;
	filter: url(#blur);
}

.asidebside {
	position: absolute;
	left: 25px;
	top: -225px;
	filter: url(#blur);
}

.splatter {
	position: absolute;
	left: -2px;
	top: -220px;
	filter: url(#blur);
}

.picture {
	position: absolute;
	top: 58px;
	left: 98px;
	opacity: .05;
	z-index: 1000;
	-webkit-filter: brightness(2.5);
}

.Transparent {
	-webkit-filter: brightness(1.1);
}