$control-color: gray;

#controls {
	background: white;
	padding: 1em;
	border: 1px solid black;
}

#vinyl-holder {
	border: 1px solid black;
}

#center-hole {
	left: 340px;
	top: 300px;
	position: absolute;
}

#label {
	position: absolute;
	left: 260px;
	top: 225px;
}

#test {
	left: 116px;
	top: 225px;
	position: absolute;
}