<div class="row">
	<div class="col-md-7" id="vinyl-holder">
		<svg height="600" width="600">
		  <circle cx="350" cy="325" r="250" fill="{{BaseColor.hex}}" opacity="{{BaseColor.opacity}}" />
		</svg>
		<svg width="800" height="800" id="test">
    	<path d="M20,200 L478,0 A180,180 0 0,1 20,200 z" fill="{{SecondaryColor.hex}}" opacity="{{SecondaryColor.opacity}}"/>
		</svg>

		<svg height="200" width="200" id="label">
		  <circle cx="100" cy="100" r="100" fill="{{LabelColor}}" />
		</svg>
		<svg height="200" width="200" id="center-hole">
		  <circle cx="20" cy="20" r="10" fill="white" />
		</svg>
	</div>
	<div class="col-md-3" id="controls">
		<span>Base Color</span>
		<select class="form-control" id="base-color" ng-model="BaseColor" ng-options="color as color.name for color in colors">
		</select>
		<span>Secondary Color</span>
		<select class="form-control" id="secondary-color" ng-model="SecondaryColor" ng-options="color as color.name for color in colors">
		</select>
		<span>Configuration</span>
		<select class="form-control" id="configuration" ng-model="Configuration">
		  <option>Half & Half</option>
		  <option>Spatter</option>
		  <option>A Side / B Side</option>
		  <option>Color in Color</option>
		  <option>Haze</option>
		</select>
		<span>Label Color</span>
	  <input type="color" name="favcolor" value="#ff0000" ng-model="LabelColor">
		<button class="btn" ng-click="BaseColor = null; SecondaryColor = null; Configuration = null; LabelColor = null">Reset</button>
		<input class ="form-control" type="text" size="100" value="{{sampleURL}}" placeholder="Share URL">
	</div>
	<div class="col-md-2"></div>
</div>