<div class="row">
	<div class="col-md-8" id="vinyl-holder">
		<svg height="600" width="600">
		  <circle cx="300" cy="250" r="250" fill="black" />
		</svg>
	</div>
	<div class="col-md-3" id="controls">
		<span>Base Color</span>
		<select class="form-control" id="base-color">
		  <option>Red</option>
		  <option>Blue</option>
		  <option>Green</option>
		  <option>Yellow</option>
		  <option>Orange</option>
		</select>
		<span>Secondary Color</span>
		<select class="form-control" id="secondary-color">
		  <option>Red</option>
		  <option>Blue</option>
		  <option>Green</option>
		  <option>Yellow</option>
		  <option>Orange</option>
		</select>
		<span>Configuration</span>
		<select class="form-control" id="configuration">
		  <option>Half & Half</option>
		  <option>Spatter</option>
		  <option>A Side / B Side</option>
		  <option>Color in Color</option>
		  <option>Haze</option>
		</select>
	</div>
	<div class="col-md-1"></div>
</div>